* {
	box-sizing: border-box;
}

body {
	background: #f7df1e;
	font-family: neutra text, neutra text bold, reem kufi, sans-serif;
	font-weight: 900;
	min-width: 25vw;
	margin: -1px;
	overflow: hidden;
}

textarea, .CodeMirror {
	border: none;
	width: 100%;
	background: #f7df1e;
	font-weight: bold;
	border: 2px dotted black;
	padding: .5em;
}

.letters-js {
	text-align: right;
	margin: 2px;
}

@font-face {
	font-family: "Reem Kufi";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url('./reem-kufi.woff2') format('woff2');
}
